body {
  background-color: aquamarine;
}
#title {
  text-align: center;
  color: burlywood;
}
#subtitle {
  text-align: center;
  color: black;
}
#spend {
  color: rgb(233, 145, 13);
}
#spendtext {
  color: rgba(143, 91, 1, 0.941);
}
#goals {
  color: blue;
}
#goalhed {
  font-style: italic;
  text-align: center;
}
